body 
{
	background: black;
	color: lightgray;
	font-size: 24px;
	font-weight: 700;
	font-family: 'Inconsolata', monospace;
}

#pojemnik
{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

#plansza
{
	width: 900px;
	min-height: 60px;
	text-align: center;
	font-size: 48px;
	margin-top: 50px;
	margin-bottom: 50px;
}

#szubienica
{
	float: left;
	min-height: 280px;
	text-align:center;
	width: 450px;
}

#alfabet
{
	width: 450px;
	min-height: 280px;
	text-align: center;
	float: left;
}

.litera
{
	width: 30px;
	height: 30px;
	text-align: 30px;
	padding: 5px;
	float: left;
	border: 3px solid gray;
	border-radius: 15px;
	cursor: pointer;
	margin: 5px;
}

.litera:hover
{
	background: #222222;
	border: solid white;
	color: white;
}

.reset:hover
{
	color: Green;
	cursor: pointer;
}


